<table ng-class="table.classes">
  <thead>
  <tr>
    <th ng-repeat="column in table.columns"
        ng-bind="column.heading"
        ng-click="table.setSortColumn(column)"
        ng-class="{'wss-column-sortable': table.sortable || column.sortable}">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="(rowIndex, row) in table.rows | orderBy : table.sortColumn : table.sortDesc">
    <td ng-repeat="(columnIndex, column) in table.columns" ng-class="column.class">
      <wss-table-cell>
      </wss-table-cell>
    </td>
  </tr>
  </tbody>
</table>
